<lasso-page package-path="./browser.json"/>
<gh-configure layout="FULL" footerLayout="MIN"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        Demo Page
    </title>
    <link rel="icon" href="http://pages.ebay.com/favicon.ico">
    <gh-head-css/>
    <site-speed-top/>
    <lasso-head/>
</head>
<body class="no-touch main">
<lasso-body/>
<gh-body-js/>
<tracking-cookies/>
<tracking-images/>
<tracking-module id="2057911"/>
<tracking-body/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<div>
  <ebayui-image-editor>

  </ebayui-image-editor>
</div>
<gh-footer/>
<init-widgets/>
<site-speed-bottom/>
<browser-refresh/>
</body>
</html>